<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
    <%= render :partial => 'shared/icon', :locals => {:icon => 'icon-cog'} %>
  </a>

  <div class="navbar-dropdown is-right">

    <a class="navbar-item">
      Profile
    </a>
    <a class="navbar-item">
      Settings
    </a>
    <hr class="navbar-divider">
    <%= link_to t('Contact'), '/contact?subject=contact', class: "navbar-item" %>
    <%= link_to t('Support'), '/contact?subject=support', class: "navbar-item" %>
    <%= link_to t('About'), '/team', class: "navbar-item" %>
    <hr class="navbar-divider">
    <%= link_to(destroy_user_session_path, method: :delete, class: "navbar-item") do %>
      Sign out
    <% end %>

  </div>
</div>