<div class="container">

  <div class="section">
    <div class="columns">
      <aside class="column is-2">
        <nav class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a class="is-active">Dashboard</a></li>
            <li><a>Customers</a></li>
          </ul>
          <p class="menu-label">
            Administration
          </p>
          <ul class="menu-list">
            <li><a>Team Settings</a></li>
            <li>
              <a class="">Manage Your Team</a>
              <ul>
                <li><a>Members</a></li>
                <li><a>Plugins</a></li>
                <li><a>Add a member</a></li>
              </ul>
            </li>
            <li><a>Invitations</a></li>
            <li><a>Cloud Storage Environment Settings</a></li>
            <li><a>Authentication</a></li>
          </ul>
          <p class="menu-label">
            Transactions
          </p>
          <ul class="menu-list">
            <li><a>Payments</a></li>
            <li><a>Transfers</a></li>
            <li><a>Balance</a></li>
          </ul>
        </nav>
      </aside>

      <main class="column">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="title">Overview

              </div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <button type="button" class="button is-small">
                March 8, 2017 - April 6, 2017
              </button>
            </div>
          </div>
        </div>
        <div class="columns is-multiline">
          <div class="column">
            <div class="box">
              <div class="heading"><%= t('Pages Views') %>

              </div>
              <div class="title">56,950
                <div class="is-pulled-right">
                  <%= render :partial => 'includes/icon', :locals => {:link => 'icon-target', :cssClass => 'accent'} %>
                </div>

              </div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading"><%= t('Sessions') %></div>
              <div class="title">30,950</div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading"><%= t('Events') %></div>
              <div class="title">30,950</div>
            </div>
          </div>

          <div class="column">
            <div class="box">
              <div class="heading"><%= t('Issues') %></div>
              <div class="title">30,950</div>
            </div>
          </div>
        </div>

        <div class="columns is-multiline">
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Expenses: Daily - $700
              </p>
              <div class="panel-block">
                <figure class="image is-16x9">
                  <img src="https://placehold.it/1280x720">
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Refunds: Daily - $200
              </p>
              <div class="panel-block">
                <figure class="image is-16x9">
                  <img src="https://placehold.it/1280x720">
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Something
              </p>
              <div class="panel-block">
                <figure class="image is-16x9">
                  <img src="https://placehold.it/1280x720">
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="panel">
              <p class="panel-heading">
                Something Else
              </p>
              <div class="panel-block">
                <figure class="image is-16x9">
                  <img src="https://placehold.it/1280x720">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>