<nav class="navbar" id="dashboard_navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="<%= root_path %>">
          <%= render "includes/logo" %>
        </a>
        <form id="navbar_header_form" class="navbar-item">
          <div id="navbar_header_form_container">
            <div class="control has-icons-left has-icons-right">
              <input class="input"
                     id="navbar_header_form_search"
                     autocomplete="off"
                     type="text"
                     placeholder="Search"
                     @input="input($event)"
                     v-on:keyup.esc="esc"
                     v-on:keyup.up="up"
                     v-on:keyup.enter="enter"
                     v-on:keyup.down="down"
              >
              <span class="icon is-left">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-search'} %>
  </span>
            </div>

            <div id="autocomplete"
                 v-if="!hidden && suggestionList.length">
              <div class="entry" v-for="(i, index) in suggestionList">
                <span v-bind:class="{ active: navIndex === index }" v-html="format(i)"></span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <% if current_domain.present? %>
          <span class="tag  is-info"><%= current_domain.name %></span>
        <% end %>
      </div>


      <%= link_to('/documentation', class: "navbar-item") do %>
        Documentation
      <% end %>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link top-header-notifications has-notifications">
          <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-notification'} %>
        </div>
        <div class="navbar-dropdown">
        </div>
      </div>
      <%= render "includes/header/top_right_settings" %>

    </div>

  </div>
</nav>