<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="<%= root_path %>">
        <%= render "includes/logo" %>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-end">

      <div class="navbar-item">
        <%= render 'includes/header/features_dropdown_navbar' %>
      </div>

      <div class="navbar-item">
        <a class="title is-6" href="#principles">
          <span><%= t('Principles') %></span>
        </a>
      </div>
      <div class="navbar-item">
        <a class="title is-6" href="#pricing">
          <span><%= t('Pricing') %></span>
        </a>
      </div>
      <div class="navbar-item">
        <%= render 'includes/header/developers_dropdown_navbar' %>
      </div>
      <div class="navbar-item">
        <% if Rails.env.development? %>
          <div class="buttons">
            <%= link_to(new_user_registration_path, class: "button is-primary register-button") do %>
              <strong> <%= t('Sign up') %></strong>
            <% end %>
            <%= link_to(new_user_session_path, class: "button is-light") do %>
              <strong> <%= t('Log in') %></strong>
            <% end %>
          </div>
        <% else %>
          <%= link_to('#contact_us', class: "button is-primary register-button") do %>
            <strong> <%= t('Contact us') %></strong>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>