<nav class="menu">

  <% unless current_domain.nil? %>
    <%= current_domain.name %>
    <hr/>

    <p class="menu-label">
      <%= t('dashboard.menu.analytics') %>
    </p>
    <ul class="menu-list">
      <li>
        <%= link_to(dashboard_path, class: current_menu_item_class?(dashboard_path)) do %>
          <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-dashboard'} %>
          <%= t('dashboard.menu.overview') %>
        <% end %>
      </li>
      <li>
        <%= link_to(dashboard_stats_pages_path, class: current_menu_item_class?(dashboard_stats_pages_path)) do %>
          <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-monitor'} %>
          <%= t('dashboard.menu.pages_views') %>
        <% end %>
      </li>
      <!--<li>

                </li>-->
      <li>
        <% if current_domain.domain_setting.track_geo %>
          <%= link_to(dashboard_stats_geo_path, class: current_menu_item_class?(dashboard_stats_geo_path)) do %>
            <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-globe'} %>
            <%= t('dashboard.menu.geo_scattering') %>
          <% end %>
        <% else %>
          <span class="tag tag-warning"> <%= t('dashboard.menu.geo_scattering') %>
            <small>(disabled)</small></span>
        <% end %>
      </li>
      <li>
        <%= link_to(dashboard_stats_heatmap_path, class: current_menu_item_class?(dashboard_stats_heatmap_path)) do %>
          <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-thermostat-full'} %>
          <%= t('dashboard.menu.heatmap') %>
        <% end %>
      </li>
      <li>
        <%= link_to(dashboard_stats_export_path) do %>
          <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-cloud-download'} %>
          <%= t('dashboard.menu.export') %>
        <% end %>
      </li>
      <!--<%= link_to(dashboard_stats_events_path, class: current_menu_item_class?(dashboard_stats_events_path)) do %>
        <%= t('dashboard.menu.events') %>
      <% end %>-->
      <li>
        <span class="tag tag-warning"> <%= t('dashboard.menu.events') %>
          <small>(soon)</small></span>
      </li>
  <% end %>
  </ul>
  <% unless current_domain.nil? %>
    <p class="menu-label">
      <%= t('dashboard.menu.domain_settings') %>
    </p>
    <ul class="menu-list">
      <li>


        <%= link_to(settings_dashboard_domain_path(current_domain)) do %>
          <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-cog'} %>

          <%= t('dashboard.menu.configuration') %>
        <% end -%>

        <%= link_to(dashboard_domain_api_keys_path(current_domain), class: current_menu_item_class?(dashboard_domain_api_keys_path(current_domain))) do %>
          <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-key'} %>
          <%= t('dashboard.menu.api_keys') %>
        <% end -%>
      </li>
      <li>
        <p class="menu-label"><%= t('dashboard.menu.team_settings') %> </p>

        <ul class="menu-list">
          <li>
            <%= link_to(dashboard_team_domain_path(current_domain)) do %>
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-user-group'} %>
              <%= t('dashboard.menu.members') %>
            <% end %>
          </li>
          <%= link_to(new_dashboard_team_domain_path(current_domain)) do %>
            <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-user-add'} %>
            <%= t('dashboard.menu.add_member') %>
          <% end %>

          <%= link_to(sent_invitations_dashboard_team_domain_path(current_domain)) do %>
            <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-external-window'} %>
            <%= t('dashboard.menu.sent_invitations') %>
          <% end %>

          <%= link_to(received_invitations_dashboard_team_domain_path(current_domain)) do %>
            <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-box'} %>
            <%= t('dashboard.menu.recieved_invitations') %>
          <% end %>
        </ul>
      </li>
    </ul>


    <hr/>
    <%= form_tag('/dashboard/set-current-domain') do %>
      <label>
        <%= t('Change domain') %></label>
      <%= select_tag(:domain_id, options_from_collection_for_select(@my_domains, 'id', 'name', current_domain.nil? ? nil : current_domain.id)) %>
      <%= submit_tag t('Select') %>
      <%= link_to dashboard_domains_path do %>
        <span><%= t('Create') %></span>
      <% end %>
    <% end -%>
    <hr/>
  <% end %>
  <p class="menu-label">
    <%= t('dashboard.menu.account_settings') %>
  </p>
  <ul class="menu-list">
    <li>
      <%= link_to(subscription_path, class: current_menu_item_class?(subscription_path)) do %>
        <%= t('dashboard.menu.rate_usage') %>
      <% end %>
    <li><a><%= t('dashboard.menu.advanced') %></a></li>
    <% if current_plan.nil? %>
      <%= link_to("Subscribe", dashboard_account_plan_subscribe_url) %>
    <% else %>
      <li>10 days to ends</li>
    <% end %>

  </ul>
</nav>