<%= form_with(model: [:dashboard, domain], local: true) do |form| %>
  <% if domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
        <% domain.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label class="label"><%= t('domain.form.domain_name') %></label>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= form.text_field(:name, {class: "input"}) %>
        </p>
        <p class="help">
          <%= t('domain.form.placeholder') %>
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="actions">
      <div class="field is-grouped">
        <div class="control">
          <%= form.submit domain.new_record? ? t('common.create') : t('common.update'), :class => "button is-small is-primary" %>
        </div>
        <div class="control">
          <%= link_to t('Cancel'), url_for(request.referrer || request.headers["HTTP_REFERER"]), class: "button  is-small no-underline" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
