<p id="notice"><%= notice %></p>


<h1>New Domain</h1>
<%= render 'form', domain: @domain %>
<h1>My domains</h1>
<table class="table is-striped">
  <thead>
  <tr>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% if @domains.empty? %>
    Empty
  <% end %>
  <% @domains.each do |domain| %>
    <tr>
      <td><%= domain.name %></td>
      <td><%= link_to t('Edit'), edit_dashboard_domain_path(domain) %></td>
      <td><%= link_to t('Settings'), settings_dashboard_domain_path(domain) %></td>
      <td><%= link_to t('Destroy'), [:dashboard, domain], method: :delete, class: 'is-danger', data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Domain', new_dashboard_domain_path %>-->
