<%= form_tag(settings_dashboard_domain_path(current_domain), method: "post") do %>
  <div class="columns">
    <div class="column is-one-quarter">
      <h1><%= t('domains.origins') %></h1>
      <p class="content">Description #todo</p>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Allowed origins</label>
        <div class="control">
          <%= text_field('domain_setting', "origins", {class: "input", placeholder: t("domains.settings_origins_placeholder")}) %>

        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="columns">
    <div class="column is-one-quarter">
      <h1><%= t('domains.origins') %></h1>
      <p class="content">Description #todo</p>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Allowed origins</label>
        <div class="control">
          <%= check_box('domain_setting', "track_geo", {checked: @domain_setting.track_geo}) %>
          Track geo
        </div>
      </div>
    </div>
  </div>
  <div class="field is-grouped is-pulled-right">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-text">Cancel</button>
    </div>
  </div>
<% end %>