<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
    <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-cog'} %>
  </a>

  <div class="navbar-dropdown is-right">

    <a class="navbar-item">
      Profile
    </a>
    <a class="navbar-item">
      Settings
    </a>
    <hr class="navbar-divider">

    <%= link_to('/contact?subject=support', class: "navbar-item") do %>
      <%= t('Contact') %>
    <% end %>
    <%= link_to('/contact?subject=support', class: "navbar-item") do %>
      <%= t('Support') %>
    <% end %>
    <%= link_to('/company/about', class: "navbar-item") do %>
      <%= t('About') %>
    <% end %>
    <hr class="navbar-divider">
    <%= link_to(destroy_user_session_path, method: :delete, class: "navbar-item") do %>
      Sign out
    <% end %>

  </div>
</div>