<nav class="menu">
  <ul class="menu-list mt-1">
    <li>
      <%= link_to(admin_path, class: current_menu_item_class?(admin_path) + ' ' + current_menu_item_class?('/')) do %>

        <%= t('admin.sidebar.admin') %>
      <% end %>
    </li>
    <li>
      <%= link_to(admin_users_path, class: current_menu_item_class?(admin_users_path) + ' ' + current_menu_item_class?('/')) do %>

        <%= t('admin.sidebar.users') %>
      <% end %>
    </li>
    <li>
      <%= link_to(admin_contacts_path, class: current_menu_item_class?(admin_contacts_path)) do %>

        <%= t('admin.sidebar.contacts') %>
      <% end %>
    </li>
  </ul>

</nav>