<select <%= "@change=#{event}" %>>

  <option selected="selected" value="year"><%= t('Last Year') %>
    :  <%= Date.today.strftime("%Y") %></option>


  <option value="month"><%= t('This month') %>
    :  <%= Date.today.strftime("%B") %></option>


  <option value="week"><%= t('This week') %>
    :  <%= Date.today.weeks_ago(1).strftime("%d %B") %>
    - <%= Date.today.strftime("%d %B") %></option>


  <option value="day"><%= t('today') %> <%= Date.today.strftime("%B, %Y") %></option>
</select>