<style>
  #contact_us > div {
    margin: auto;
    max-width: 450px;
    padding: 1rem;
  }
</style>
<div id="contact_us">
  <span><%= flash[:contact_error] %></span>
  <div class="container">
    <h3 class="title"><%= t('welcome.contact_us') %></h3>
    <%= form_tag(contact_path, local: true) do %>
      <%= invisible_captcha %>
      <div class="field">
        <label class="label">E-mail</label>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <%= text_field(:contact, :email, {class: "input"}) %>
            </p>
            <p class="help">

            </p>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label"><%= t('tell us your needs') %></label>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <%= text_area(:contact, :subject, rows: 5, class: "textarea") %>
            </p>
            <p class="help">

            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal has-text-centered">
        <div class="actions">
          <div class="field">
            <div class="control">
              <%= submit_tag t('welcome.contact_us'), :class => "button is-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>