<%= form_with(url: invite_dashboard_team_domain_path(current_domain), local: true) do |form| %>
  <% if flash && flash[:error] %>
    <div id="error_explanation">
      <ul>
        <li><%= flash[:error] %></li>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label class="label"><%= t('Email') %></label>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <%= form.text_field(:email, {class: "input"}) %>
        </p>
        <p class="help">
          <%= t('domain.team.invitation.input_place_holder') %>
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="actions">
      <div class="field is-grouped">
        <div class="control">
          <%= form.submit({class: 'button is-primary'}) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
