<p id="notice"><%= notice %></p>

<h1>Invitations received </h1>

<table class="table is-fullwidth">
  <thead>
  <tr>
    <th><%= t('Sender') %></th>
    <th><%= t('Domain') %></th>
    <th colspan="2">  <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-dots-horizontal'} %></th>
  </tr>
  </thead>

  <tbody>

  <% @invitations.each do |invitation| %>
    <tr>
      <td>
        <%= invitation.sender.email %>
      </td>
      <td>
        <%= invitation.domain.name %>
      </td>
      <td>
        <%= link_to(dashboard_accept_admin_invitation_path(invitation.domain), method: :post, data: {confirm: 'Are you sure?'}, class: 'action') do %>
          <%= t('Accept') %>
          <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-user'} %>
        <% end %>
      </td>
      <td>
        <%= link_to(dashboard_decline_admin_invitation_path(invitation.domain), method: :delete, data: {confirm: 'Are you sure?'}, class: 'action') do %>
          <%= t('Decline') %>
          <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-trash'} %>
        <% end %>
      </td>

    </tr>
  <% end %>

  </tbody>
</table>