<style>

  #overview_map_content_container > .panel {
    overflow: hidden;
  }

  #overview_map_content_container #map_world_svg {
    stroke-linejoin: round;
    stroke: #000;
    fill: none;
    height: 300px;
    width: 2000px;
    transform: translateX(-793px);
  }
</style>

<script type="text/x-template" id="app_dashboard_overview_template">
  <div id="overview_container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="title is-4">Overview
          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button type="button" class="button is-small">
            <%= Date.today.strftime("%B, %Y") %>
          </button>
        </div>
      </div>
    </div>

    <div class="columns is-multiline" id="overview_global_view_container" v-cloak>
      <div class="column">
        <div class="box">
          <div class="heading has-text-weight-semibold">
            <%= t('Pages Views') %>
          </div>
          <div class="title is-5  has-text-weight-normal">
            <span>{{stats.viewsCount}}</span>
            <div class="is-pulled-right">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-target', :css_class => 'accent'} %>
            </div>

          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div class="heading has-text-weight-semibold"><%= t('Devices') %>
          </div>
          <div class="title is-5  has-text-weight-normal">
            <span>{{stats.eventsCount}}</span>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="box">
          <div class="heading has-text-weight-semibold"><%= t('Campaigns') %>
          </div>
          <div class="title is-5  has-text-weight-normal">
            <span>-</span>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="box">
          <div class="heading has-text-weight-semibold"><%= t('Referral') %></div>
          <div class="title is-5  has-text-weight-normal">
            <span>{{stats.sessionsCount}}</span>
          </div>
        </div>
      </div>


    </div>

    <div class="columns is-multiline">
      <div class="column is-6" id="overview_page_views_content_container">
        <div class="panel">
          <p class="panel-heading">
            <%= t('Page views') %>

            <%= render :partial => 'includes/select_period_general', :locals => {:event => 'onChangePeriodTopPagesViews($event)'} %>


            <%= link_to(dashboard_stats_pages_path, {class: 'is-pulled-right icon-container'}) do %>
              <% cache('icon-external-window') do %>
                <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-external-window'} %>
              <% end %>
              <%= t('details') %>
            <% end %>

          </p>
          <div class="panel-block">
            <canvas id="canvas_views" width="400" height="250"></canvas>
          </div>
        </div>
      </div>
      <div class="column is-6" id="overview_devices_content_container">
        <div class="panel">
          <p class="panel-heading">
            <%= t('Devices') %>

            <%= render :partial => 'includes/select_period_general', :locals => {:event => 'onChangePeriodDevicesViews($event)'} %>



            <%= link_to(dashboard_stats_pages_path, {class: 'is-pulled-right  icon-container'}) do %>
              <% cache('icon-external-window') do %>
                <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-external-window'} %>
              <% end %>
              <%= t('details') %>
            <% end %>

          </p>
          <div class="panel-block">
            <canvas id="canvas_devices" width="400" height="250"></canvas>
          </div>
        </div>
      </div>

      <div class="column is-6" id="overview_events_content_container">
        <div class="panel">
          <p class="panel-heading">
            <%= t('Events') %>

            <%= render :partial => 'includes/select_period_general', :locals => {:event => 'onChangePeriodLocationViews($event)'} %>
            <%= link_to(dashboard_stats_geo_path, {class: 'is-pulled-right  icon-container'}) do %>
              <% cache('icon-external-window') do %>
                <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-external-window'} %>
              <% end %>
              <%= t('details') %>
            <% end %>
          </p>
          <div class="panel-block">
            <canvas id="canvas_events" width="400" height="250"></canvas>
          </div>
        </div>
      </div>
      <div class="column is-6" id="overview_map_content_container">
        <div class="panel">
          <p class="panel-heading">
            <%= t('Geo partition') %>
            <%= render :partial => 'includes/select_period_general', :locals => {:event => 'onChangePeriodLocationViews($event)'} %>
            <% if current_domain && current_domain.domain_setting.track_geo %>
              <%= link_to(dashboard_stats_geo_path, {class: 'is-pulled-right  icon-container'}) do %>
                <% cache('icon-external-window') do %>
                  <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-external-window'} %>
                <% end %>
                <%= t('details') %>
              <% end %>
            <% else %>
              <span class="tag tag-warning"> <%= t('dashboard.menu.geo_scattering') %>
                <small>(disabled)</small></span>
            <% end %>

          </p>
          <% colors = %w( #ff7007 #ffa4bc #ffbe88 #0D2B3E #cccccc ) %>
          <div class="panel-block is-flex-grow-1 is-flex  is-align-items-center is-justify-content-center">
            <% if current_domain && current_domain.domain_setting.track_geo %>
              <div id="map" class="w-100" data-gradient-color="<%= colors %>">
                <%= render 'includes/map_world.svg' %>
                <%= render :partial => 'includes/gradient.line', :locals => {:colors => colors} %>
              </div>
            <% else %>
              <div class="">
                <%= t('dashboard.overview.geo_activate_text') %> <%= link_to(settings_dashboard_domain_path(current_domain)) do %>
                  <%= t('dashboard.menu.configuration') %>
                <% end -%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="title is-4">Heatmap
          </div>
        </div>
      </div>
    </div>

    <div id="months">

    </div>

  </div>
</script>