<style>
  #overview_map_content_container > .panel {
    overflow: hidden;
  }

  #overview_map_content_container #map_world_svg {
    stroke-linejoin: round;
    stroke: #000;
    fill: none;
    height: 300px;
    width: 2000px;
    transform: translateX(-793px);
  }
</style>

<script type="text/x-template" id="app_dashboard_overview_template">
  <div id="overview_container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div class="title">Overview

          </div>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button type="button" class="button is-small">
            <%= Date.today.strftime("%B, %Y") %>
          </button>
        </div>
      </div>
    </div>

    <div class="columns is-multiline" id="overview_global_view_container" v-cloak>
      <div class="column">
        <div class="box">
          <div class="heading">
            <%= t('Pages Views') %>
          </div>
          <div class="title">
            <span>{{stats.viewsCount}}</span>
            <div class="is-pulled-right">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-target', :cssClass => 'accent'} %>
            </div>

          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div class="heading"><%= t('Referral') %></div>
          <div class="title">
            <span>{{stats.sessionsCount}}</span>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="box">
          <div class="heading"><%= t('Campaigns') %>
          </div>
          <div class="title">
            <span>-</span>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div class="heading"><%= t('Events') %>
            <small><span class="tag is-bold is-warning"><%= t('Soon') %></span></small>
          </div>
          <div class="title">
            <span>-</span>
          </div>
        </div>
      </div>

    </div>

    <div class="columns is-multiline">
      <div class="column is-6" id="overview_page_views_content_container">
        <div class="panel">
          <p class="panel-heading">
            <%= t('Page views') %>
            <select id="overview_view_period" @change="onChangePeriodTopPagesViews($event)">
              <option value="week"><%= t('This week') %>
                :  <%= Date.today.weeks_ago(1).strftime("%d %B") %>
                - <%= Date.today.strftime("%d %B") %></option>
              <option  selected="selected" value="month"><%= t('This month') %>
                :  <%= Date.today.strftime("%B") %></option>

              <option value="today"><%= t('today') %> <%= Date.today.strftime("%B, %Y") %></option>
            </select>

            <%= link_to(dashboard_views_path, {class: 'is-pulled-right'}) do %>
              details
            <% end %>

          </p>
          <div class="panel-block">
            <canvas id="canvas_views" width="400" height="250"></canvas>
          </div>
        </div>
      </div>
      <div class="column is-6" id="overview_devices_content_container">
        <div class="panel">
          <p class="panel-heading">
            Devices

            <select id="overview_view_period" @change="onChangePeriodDevicesViews($event)">
              <option value="week"><%= t('This week') %>
                :  <%= Date.today.weeks_ago(1).strftime("%d %B") %>
                - <%= Date.today.strftime("%d %B") %></option>
              <option selected="selected"  value="month"><%= t('This month') %>
                :  <%= Date.today.strftime("%B") %></option>

              <option value="today"><%= t('today') %> <%= Date.today.strftime("%B, %Y") %></option>
            </select>

            <%= link_to(dashboard_views_path, {class: 'is-pulled-right'}) do %>
              details
            <% end %>

          </p>
          <div class="panel-block">
            <canvas id="canvas_devices" width="400" height="250"></canvas>
          </div>
        </div>
      </div>
      <div class="column is-6" id="overview_map_content_container">
        <div class="panel">
          <p class="panel-heading">
            Geo partition

            <select>
              <option selected="selected">Daily</option>
              <option>Weekly</option>
              <option>Monthly</option>
            </select>

            <%= link_to(dashboard_views_path, {class: 'is-pulled-right'}) do %>
              details
            <% end %>

          </p>
          <div class="panel-block">
            <div id="map">
              <%= render 'includes/map_world.svg' %>
              <%= render 'includes/gradient.line' %>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6" id="overview_events_content_container">
        <div class="panel">
          <p class="panel-heading">
            Events <span class="tag is-bold is-warning"><%= t('Soon') %></span>

            <!-- <select>
              <option selected="selected">Daily</option>
              <option>Weekly</option>
              <option>Monthly</option>
            </select>

            <%= link_to(dashboard_views_path, {class: 'is-pulled-right'}) do %>
              details
            <% end %>-->

          </p>
          <!-- <div class="panel-block">
             <canvas id="canvas_events" width="400" height="250"></canvas>
           </div>
           -->
        </div>
      </div>


    </div>
  </div>
</script>