<script type="text/x-template" id="app_dashboard_pages_views_template">
  <div>
    <div>
      <h4 class="is-size-5 has-text-weight-bold">Last 6 months</h4>
      <div class="level">
        <div class="level-item">
          <div class="">
            <div class="heading">Positive</div>
            <div class="title is-5">1790</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading">Negative</div>
            <div class="title is-5">310</div>
          </div>
        </div>
        <div class="level-item">
          <div class="">
            <div class="heading">Pos/Neg %</div>
            <div class="title is-5">85.2% / 14,7%</div>
          </div>
        </div>
      </div>
      <div>
        <div class="columns mb-2" id="page_filter_menu">
          <div class="column is-one-quarter">
            <div>
              <app-v-typehead :list="axes.pages"
                              :property="'full_url'"
                              v-on:selected="onSelectedPage($event)"
                              :placeholder="'Filter ' + axes.pages.length  + ' pages' ">
              </app-v-typehead>
            </div>
          </div>
          <div class="column is-one-quarter">
            <select @change="changeFilterUtm($event)">
              <option>By utm source</option>
              <option v-for="utm in axes.utms">
                {{ utm.utm_source }}
              </option>
            </select>
          </div>

          <div class="column is-one-quarter">
            <select @change="changeFilterBrowser($event)">
              <option>By browser</option>
              <option v-for="browser in axes.browsers">
                {{ browser.browser }}
              </option>
            </select>
          </div>

          <div class="column is-one-quarter">
            <select @change="changeFilterBrowser($event)">
              <option>origins</option>
              <option v-for="origin in axes.origins">
                {{ origin.origin }}
              </option>
            </select>
          </div>

        </div>
      </div>
      <div>
        <div id="main_chart" style="width: 100%;height:400px;min-width:1000px"></div>
      </div>

      <div>
        <h4 class="is-size-5  has-text-weight-bold">Daily
          <small class="is-size-7"> [ by weeks in the last 6 months ]</small>
          <select @change="onChangeHeatFilter($event)" v-model="heat.range">
            <%= get_range_of_weeks_n_months_ago(6).each_with_index do |week, index| %>
              <option
                <% if index == 0 %>selected="selected"
                <% end %> value="<%= week %>">
                <%= week %>
              </option>
            <% end %>
          </select>
        </h4>
        <hr/>
        <div id="main_week_chart" style="width: 100%;height:400px;min-width:1000px"></div>
      </div>

      <!--<div class="column is-6">
        <div class="box box-no-shadow">
          <div class="heading">Vos consultations cette semaine
            <span class="title subtitle is-pulled-right"></span>
          </div>
          <div class="bar-charts">
            <% Date::ABBR_DAYNAMES.rotate.each_with_index do |day, index| %>
              <div>
                <label class="has-text-grey is-size-7">
                  <%= t('date.abbr_day_names')[index].capitalize %>
                </label>
                <div class="bar">
                  <% (1..rand(1..10)).each do |n| %>
                    <% if index > 0 %>
                      <div class="bar-item" style="background:#<%= "%06x" % rand(0..0xffffff) %>"></div>
                    <% end %>
                  <% end %>
                </div>
              </div>

            <% end %>
          </div>
        </div>
      </div>
      -->
      <hr/>
      <h4 class="is-size-5  has-text-weight-bold">Summary
        <small class="is-size-7">Partitions</small>
      </h4>
      <div class="columns has-text-centered">
        <div id="canvas_pages_partition" style="width: 100%;height:200px;">

        </div>
      </div>

    </div>
  </div>
</script>

