<section class="hero is-fullheight" id="features_container">
  <div class="hero-body">
    <div class="container">
      <article class="title">
        <h1><span class="d-inline">6 reasons </span>to get started with Unk today!</h1>
      </article>

      <div class="columns">
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-globe'} %>
            </div>
            <figcaption><h3>Talent pool</h3>
              <p><span class="text-primary">Increase your team's talent pool</span> with a click of a button and
                accelerate access to available candidates.</p></figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-monitor'} %>
            </div>
            <figcaption><h3>Compliance</h3>
              <p><span class="text-primary">Always stay compliant.</span> Track insurance amounts, expiration dates of
                COIs and reduce the likelihood of fake candidates.</p></figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-bug'} %>
            </div>
            <figcaption><h3>Efficiency</h3>
              <p>Let your recruiters <span class="text-primary">spend less time on vendor management</span> and more
                time
                on what matters most. Placing available candidates faster.</p></figcaption>
          </figure>
        </div>
      </div>
      <div class="columns">

        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-trending-up'} %>

            </div>
            <figcaption><h3>Vedor management</h3>
              <p><span class="text-primary">Centralize</span> your preferred vendor partners in one place and create a
                company wide vendor program.</p></figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-server'} %>
            </div>
            <figcaption><h3>Reporting</h3>
              <p><span class="text-primary">Track performance with analytics and key metrics</span> like time to fill,
                submit to fill ratios, overall partner performance, diversity spend and much more.</p></figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-trending-up'} %>
            </div>
            <figcaption><h3>Technology</h3>
              <p><span class="text-primary">Technology that always works for you.</span> Say goodbye to distribution
                lists
                and spreadsheets! Welcome to the new standard of vendor management.</p></figcaption>
          </figure>
        </div>

      </div>
    </div>
  </div>


</section>

