<section class="hero is-fullheight" id="features_container">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Unknown analytics</h1>

      <div class="columns">
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-dashboard'} %>
            </div>
            <figcaption>
              <p>Analytics / Track pages : get your website, analytics and key metrics </p>
            </figcaption>
          </figure>
        </div>

        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-bug'} %>
            </div>
            <figcaption>
              <p>Know better about pages performance on users devices with multiple connection types (*) </p></figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-widget-add'} %>
            </div>
            <figcaption>
              <p> Plug and play : Easy Set up just add the sdk script and get your analytics in your
                dashboard.</p>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="columns">


        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-globe'} %>
            </div>
            <figcaption>
              <p>Anonymous Geo analysis : Geographic analysis in unknown mode </p></figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-server'} %>
            </div>
            <figcaption>
              <p>Data ownership and protection : you own the data, we store it in a private and secured cloud
                platform. Delete it anytime.</figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-security-important'} %>
            </div>
            <figcaption>
              <p>Secure by design : No cookies, no local storage, no session. No private data are collected from
                user.</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <small>* This feature is only available for some platforms.</small>
    </div>

  </div>
</section>

