<section class="hero is-fullheight" id="features_container">
  <div class="hero-body">
    <div class="container">
      <article class="title">
        <h1><span class="d-inline">6 reasons </span>to get started with unknown today!</h1>
      </article>

      <div class="columns">
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-monitor'} %>
            </div>
            <figcaption><h3>Analytics</h3>
              <p><span class="text-primary">Track pages, applications sections with analytics and key metrics</span></p>
            </figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-globe'} %>
            </div>
            <figcaption><h3>Anonymous Geo analysis</h3>
              <p>Geographic analysis in unknown mode </p></figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-bug'} %>
            </div>
            <figcaption><h3>Efficiency</h3>
              <p>Know your users better.</p></figcaption>
          </figure>
        </div>
      </div>
      <div class="columns">

        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-trending-up'} %>

            </div>
            <figcaption><h3></h3>
              <p><span class="text-primary">Centralize</span> your preferred vendor partners in one place and create a
                company wide vendor program.</p></figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-server'} %>
            </div>
            <figcaption><h3>Easy Integration </h3>
              <p>Simple and easy integration with sdk </figcaption>
          </figure>
        </div>
        <div class="column">
          <figure>
            <div class="icon-boxed">
              <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-security-important'} %>
            </div>
            <figcaption><h3>Security</h3>
              <p><span class="text-primary">No cookies, no local storage. No private data are collected. </span></p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>


</section>

