<section class="hero is-primary is-bold" id="features_container">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-two-third has-text-centered">
          <div class="box">
            <strong class="tag">Track</strong>
            <svg width="100%" height="25%" viewBox="0 0 300 75">
              <g transform="scale(1,-1) translate(0,-67)" id="vue-bars-1-path">
                <rect id="bar-id-0" fill="#ffbe88" x="4.416666666666667" y="0" width="5" height="5.36364" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="5.36363636363636" dur="1s" fill="freeze"></animate>
                  <title>1</title></rect>
                <rect id="bar-id-1" fill="#ffbc8b" x="16.250000000000004" y="0" width="5" height="10.7273" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="10.727272727272727" dur="1s" fill="freeze"></animate>
                  <title>2</title></rect>
                <rect id="bar-id-2" fill="#ffba8e" x="28.083333333333336" y="0" width="5" height="26.8182" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="26.818181818181813" dur="1s" fill="freeze"></animate>
                  <title>5</title></rect>
                <rect id="bar-id-3" fill="#ffb892" x="39.916666666666664" y="0" width="5" height="48.2727" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="48.272727272727266" dur="1s" fill="freeze"></animate>
                  <title>9</title></rect>
                <rect id="bar-id-4" fill="#ffb795" x="51.75" y="0" width="5" height="26.8182" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="26.818181818181813" dur="1s" fill="freeze"></animate>
                  <title>5</title></rect>
                <rect id="bar-id-5" fill="#ffb599" x="63.583333333333336" y="0" width="5" height="53.6364" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="53.63636363636363" dur="1s" fill="freeze"></animate>
                  <title>10</title></rect>
                <rect id="bar-id-6" fill="#ffb39c" x="75.41666666666667" y="0" width="5" height="16.0909" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="16.090909090909093" dur="1s" fill="freeze"></animate>
                  <title>3</title></rect>
                <rect id="bar-id-7" fill="#ffb1a0" x="87.25000000000001" y="0" width="5" height="26.8182" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="26.818181818181813" dur="1s" fill="freeze"></animate>
                  <title>5</title></rect>
                <rect id="bar-id-8" fill="#ffb0a3" x="99.08333333333334" y="0" width="5" height="42.9091" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="42.90909090909091" dur="1s" fill="freeze"></animate>
                  <title>8</title></rect>
                <rect id="bar-id-9" fill="#ffaea7" x="110.91666666666667" y="0" width="5" height="64.3636" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="64.36363636363636" dur="1s" fill="freeze"></animate>
                  <title>12</title></rect>
                <rect id="bar-id-10" fill="#ffacaa" x="122.75000000000001" y="0" width="5" height="5.36364" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="5.36363636363636" dur="1s" fill="freeze"></animate>
                  <title>1</title></rect>
                <rect id="bar-id-11" fill="#ffabae" x="134.58333333333334" y="0" width="5" height="42.9091" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="42.90909090909091" dur="1s" fill="freeze"></animate>
                  <title>8</title></rect>
                <rect id="bar-id-12" fill="#ffa9b1" x="146.41666666666666" y="0" width="5" height="10.7273" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="10.727272727272727" dur="1s" fill="freeze"></animate>
                  <title>2</title></rect>
                <rect id="bar-id-13" fill="#ffa7b5" x="158.25" y="0" width="5" height="48.2727" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="48.272727272727266" dur="1s" fill="freeze"></animate>
                  <title>9</title></rect>
                <rect id="bar-id-14" fill="#ffa5b8" x="170.08333333333334" y="0" width="5" height="53.6364" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="53.63636363636363" dur="1s" fill="freeze"></animate>
                  <title>10</title></rect>
                <rect id="bar-id-15" fill="#ffa4bc" x="181.91666666666666" y="0" width="5" height="10.7273" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="10.727272727272727" dur="1s" fill="freeze"></animate>
                  <title>2</title></rect>
                <rect id="bar-id-16" fill="#ffa2bf" x="193.75" y="0" width="5" height="48.2727" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="48.272727272727266" dur="1s" fill="freeze"></animate>
                  <title>9</title></rect>
                <rect id="bar-id-17" fill="#ffa0c3" x="205.58333333333334" y="0" width="5" height="21.4545" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="21.454545454545453" dur="1s" fill="freeze"></animate>
                  <title>4</title></rect>
                <rect id="bar-id-18" fill="#ff9fc6" x="217.41666666666666" y="0" width="5" height="26.8182" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="26.818181818181813" dur="1s" fill="freeze"></animate>
                  <title>5</title></rect>
                <rect id="bar-id-19" fill="#ff9dca" x="229.25" y="0" width="5" height="32.1818" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="32.18181818181818" dur="1s" fill="freeze"></animate>
                  <title>6</title></rect>
                <rect id="bar-id-20" fill="#ff9bcd" x="241.08333333333334" y="0" width="5" height="37.5455" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="37.54545454545455" dur="1s" fill="freeze"></animate>
                  <title>7</title></rect>
                <rect id="bar-id-21" fill="#ff99d1" x="252.91666666666666" y="0" width="5" height="16.0909" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="16.090909090909093" dur="1s" fill="freeze"></animate>
                  <title>3</title></rect>
                <rect id="bar-id-22" fill="#ff98d4" x="264.75000000000006" y="0" width="5" height="10.7273" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="10.727272727272727" dur="1s" fill="freeze"></animate>
                  <title>2</title></rect>
                <rect id="bar-id-23" fill="#ff96d8" x="276.58333333333337" y="0" width="5" height="16.0909" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="16.090909090909093" dur="1s" fill="freeze"></animate>
                  <title>3</title></rect>
                <rect id="bar-id-24" fill="#ff94db" x="288.4166666666667" y="0" width="5" height="26.8182" rx="2" ry="2">
                  <animate attributeName="height" from="0" to="26.818181818181813" dur="1s" fill="freeze"></animate>
                  <title>5</title></rect>
              </g>
            </svg>
          </div>
          <div class="box">
            <strong class="tag">Analyse</strong>
            <svg width="100%" height="25%" viewBox="0 0 300 75">
              <defs>
                <linearGradient id="vue-trend-1" x1="0" y1="0" x2="0" y2="1">
                  <stop offset="0" stop-color="#ffbe88"></stop>
                  <stop offset="0.5" stop-color="#ffa4bc"></stop>
                  <stop offset="1" stop-color="#ff94db"></stop>
                </linearGradient>
              </defs>
              <path fill="none" stroke="url(#vue-trend-1)" d="M8 66.99409117976404L19.64131103234081 60.22381512077443S28.285714285714285 55.19646070785843 35.82132902743442 48.62268626204953L41.03581382970843 44.0737744458089S48.57142857142857 37.5 55.09067075779435 29.91715875706812L62.33790067077708 21.48756029912064S68.85714285714286 13.90471905618876 75.37638504350863 21.487560299120645L82.62361495649137 29.917158757068115S89.14285714285714 37.5 94.80976140561769 29.26069201469527L103.76166716581086 16.24520680554068S109.42857142857142 8.005898820235949 113.83796949788308 16.98126559081143L125.30488764497406 40.32227370133015S129.71428571428572 49.29764047190562 138.35868711575174 44.270282874684966L141.355598598534 42.52735759722066S150 37.5 155.66690426276054 45.739307985304734L164.61881002295374 58.75479319445931S170.28571428571428 66.99410117976404 180.28571428571428 66.99410117976404L180.57142857142856 66.99410117976404S190.57142857142856 66.99410117976404 200.1736961374494 64.20188743605743L201.25487529112198 63.88749468751786S210.85714285714283 61.09528094381124 215.2665409264545 52.119914173235756L226.73345907354548 28.778906062717052S231.14285714285714 19.803539292141572 236.1155493499323 28.479502190500114L246.45587922149625 46.520497809499886S251.42857142857142 55.19646070785843 255.83796949788308 46.221093937282944L267.30488764497403 22.88008582676424S271.7142857142857 13.90471905618876 275.2836384019045 23.24601026197977L292 66.99411117976405" style="transition: stroke-dashoffset 2000ms ease 0s; stroke-dasharray: 433.849, 433.849; stroke-dashoffset: 0;"></path>
            </svg>
          </div>

        </div>

        <div class="column white">
          <div class="box" id="features_heatmap">
            <strong class="tag">Test</strong>

          </div>
          <div class="box" id="features_views">
            <strong class="tag">Tag</strong>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
<section class="hero  is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column"><%= render "/welcome/home/new_2.svg" %></div>
        <div class="column">
          <h1 class="title">
            Hero title
          </h1>
          <h2 class="subtitle">
            Hero subtitle
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="columns has-text-centered">
      <div class="column" id="welcome_demo_heatmap_mobile">
        <%= image_tag("features/heatmaps/375_667.png", :alt => "rss feed", :class => "heatmap-image heatmap-mobile") %>
      </div>
      <div class="column" id="welcome_demo_heatmap_desktop">
        <canvas></canvas>
        <%= image_tag("features/heatmaps/768_1024.png", :alt => "rss feed", :class => "heatmap-image heatmap-desktop ") %>
      </div>
    </div>
  </div>
</section>
<section class="is-danger hero has-text-centered app-warning">
  <div class="container">
    All your data is fully encrypted, meaning, none can access to your website visitors.
    <%= link_to('Learn More about security ', '/security ') %>
    <h3 style="color:white" class="subtitle">
      Why we do not use your data ?
    </h3>
    <div>
      * Be sure that "if the service is free, then you are the product (or may your clients)", for that, our service is
      not free
    </div>
    <div>
      * Our business model does not rely on collecting users information
    </div>
    <div>
      * We are not partners with any e-commerce business, ads or any data collection actor
    </div>
    <div>
      * We do own any stores, any
    </div>
    <%= link_to('Learn More', '/open') %>
  </div>
</section>