<style>
  #unk_footer {
    margin-bottom: 0;
    background: ghostwhite url("<%=  asset_path('landing/waves.svg') %>");
  }
</style>
<footer class="welcome-footer">
  <br/>
  <div class="container">
    <div class="columns">

      <div class="column content">
        <h2>Features</h2>
        <a class="is-link">Beta usage </a><br/>
        <a class="is-link">Template</a><br/>
        <a class="is-link"><%= link_to t("Privacy Policy"), public_pages_path(:page => 'privacy-policy') %></a><br/>
        <%= link_to('About us', '/team') %><br/>
        <%= link_to(contact_path) do %>
          Contact us
        <% end %>

      </div>
      <div class="column content">
        <h2>Resources</h2>
        <a class="is-link">Getting started</a><br/>
        <a class="is-link"><%= link_to t("User guides"), public_pages_path(:page => 'user-guide') %></a><br/>
        <a class="is-link"><%= link_to t("FAQ"), public_pages_path(:page => 'faq') %></a></a><br/>
        <a class="is-link"><%= link_to t("Api"), public_pages_path(:page => 'api') %></a></a><br/>
      </div>

      <div class="column content">
        <h2>More </h2>
        <a class="is-link"><%= link_to t("Open source"), public_pages_path(:page => 'open-source') %></a><br/>
        <a class="is-link" href="https://blog.unknownAnalytics.com">Blog</a><br/>
        <a class="is-link" href="https://blog.unknownAnalytics.com">@unk by Lines</a><br/>
        <a class="is-link" href="https://gitlab.com/unknown-inc">Gitlab</a><br/>
      </div>
    </div>
  </div>
</footer>
<div class="column content is-small" id="unk_footer">
  <div class="column content is-small has-text-centered">
    © <%= Date.today.strftime("%Y") %> Unknown Analytics
    <div class="has-text-centered">A
      <small><a href="https://www.380squares.xyz">380Squares</a></small>
      product
    </div>
  </div>
</div>