<style>
  #unk_footer {
    margin-bottom: 0;
    background: ghostwhite url("<%=  asset_path('landing/waves.svg') %>");
  }
</style>
<footer class="welcome-footer">
  <div class="container">
    <div class="columns">
      <% if Rails.env.development? %>
        <div class="column content">
          <h2>Features</h2>
          <a class="is-link">Page views</a><br/>
          <a class="is-link">Events</a><br/>
          <a class="is-link">Errors</a><br/>
          <a class="is-link">Heat map</a><br/>
          <a class="is-link">Data export </a><br/>
          <a class="is-link">Geo Tracking</a><br/>
          <a class="is-link">Realtime notification * </a><br/>

        </div>
        <div class="column content">
          <h2>Resources</h2>
          <a class="is-link">Getting started</a><br/>
          <a class="is-link"><%= link_to t("User guides"), public_pages_path(:page => 'user-guide') %></a><br/>
          <a class="is-link"><%= link_to t("Faq"), public_pages_path(:page => 'faq') %></a></a><br/>
          <a class="is-link">Api</a><br/>
          <a class="is-link"><%= link_to t("Open source"), public_pages_path(:page => 'open-source') %></a><br/>
        </div>


        <div class="column content">
          <h2>Legal </h2>
          <a class="is-link">Cookie Policy</a><br/>
          <a class="is-link"><%= link_to t("Privacy Policy"), public_pages_path(:page => 'privacy-policy') %></a></a>
          <br/>
          <%= link_to('About us', '/team') %><br/>
          <a class="is-link">Values</a><br/>
          <a class="is-link">Open startup</a>
        </div>


        <div class="column content">
          <h2>Social </h2>
          <a class="is-link" href="blog.unknownAnalytics.com">Blog</a><br/>
          <a class="is-link">Twitter</a><br/>
          <a class="is-link">Linkedin</a><br/>
          <a class="is-link">Github</a><br/>
          <a class="is-link">Contact</a><br/>
        </div>
        </div>
        <hr/>

        <div id="news_letter" class="has-text-centered">
          <a class="title is-6">Join our newsletter</a><br/>
          <p>Sign up for our newsletter to get news revies each week.</p>
          <input type="text" class="input">
        </div>
      <% end %>

      </div>
</footer>
<div class="column content is-small" id="unk_footer">
  <div class="column content is-small has-text-centered">
    © <%= Date.today.strftime("%Y") %> Unknown Analytics
    <div class="has-text-centered">A
      <small><a href="https://www.380squares.xyz">380Squares</a></small>
      product
    </div>
  </div>
</div>