<section class="hero  is-fullheight-with-navbar" id="hero_container">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column">
          <h1 class="title">
            <%= t('Protect your users and get a clean overview of your website analytics') %>
          </h1>
          <p class="subtitle">
            <%= t('Get insight and stay engaged with you customers.') %>
          </p>
          <div class="buttons">
            <div>
              <%= link_to(new_user_session_path, class: "button  is-primary is-rounded is-link demo-button") do %>
                <strong> <%= t('Start free trial') %></strong>
              <% end %>
              <%= link_to(dashboard_path, class: "button is-rounded") do %>
                <strong> <%= t('See demo') %></strong>
                <br/>
              <% end %>

              <br/>
              <small>no credit card required</small>
            </div>
          </div>
        </div>
        <div class="column">
          <div id="box_1" class="box">
            <h1>
              <%= render :partial => 'includes/icon', :locals => {:link => 'icon-target', :cssClass => 'icon-white'} %>
              <%= t('PageViews ') %>
              <div class="views-number-animation tag">777777</div>
            </h1>
            <div class="columns">
              <div class="column">
                <svg viewBox="0 0 400 120" class="chart">
                  <polyline
                    fill="none"
                    stroke="#fff"
                    stroke-width="3"
                    points="
              00,120
              20,60
              40,80
              60,20
              80,80
              100,80
              120,60
              140,100
              160,90
              180,80
              200, 110
              220, 10
              240, 70
              260, 100
              280, 100
              300, 40
              320, 0
              340, 100
              360, 100
              380, 10"/>
                </svg>
              </div>

            </div>

          </div>

          <div id="box_2" class="box">
            <h1>
              <%= render :partial => 'includes/icon', :locals => {:link => 'icon-user', :cssClass => ''} %>

              <%= t('Users ') %>
            </h1>
            <div id="map_hero">
              <%= render 'includes/map_dots.svg' %>
            </div>

          </div>

          <div id="box_3" class="box">
            <h1>
              <%= render :partial => 'includes/icon', :locals => {:link => 'icon-bolt', :cssClass => ''} %>

              <%= t('Events ') %>
            </h1>
            <svg viewBox="0 0 400 120" id="hero_events_chart">
              <polyline
                fill="none"
                stroke="#fff"
                stroke-width="3"
                points="
              00,120
              20,60
              40,80
              60,20
              80,80
              100,80
              120,60
              140,100
              160,90
              180,80
              200, 110
              220, 10
              240, 70
              260, 100
              280, 100
              300, 40
              320, 0
              340, 100
              360, 100
              380, 10"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>