


<section class="is-danger hero has-text-centered" id="app_warning">
  <div class="container">
    <article class=""><h1 class="title"> Why we do not track users ? </h1></article>
    <div class="columns">
      <div class="column">
        <figure>
          <div class="icon-boxed">
            <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-no-store'} %>
          </div>
          <figcaption><h3>Business Model</h3>
            <p>Do you receive jobs from end-clients in verticals that you currently don't serve? No problem, leverage
              your preferred partners for those jobs and focus on what you do best!</p></figcaption>
        </figure>
      </div>
      <div class="column">
        <figure>
          <div class="icon-boxed">
            <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-security'} %>
          </div>
          <figcaption><h3>Partnership</h3>
            <p>Are you supporting high volume MSP programs? Leverage preferred partners to fill jobs faster and
              improve your scorecards.</p></figcaption>
        </figure>
      </div>
      <div class="column">
        <figure>
          <div class="icon-boxed">
            <%= render :partial => 'includes/icon', :locals => {:icon => 'icon-security-important'} %>
          </div>
          <figcaption><h3>My data</h3>
            <p>Do you have the opportunity to become the MSP on some of your end client accounts? Leverage Gustav's
              technology and a network of preferred partners to drive new business.</p></figcaption>
        </figure>
      </div>
    </div>
    <div>

    </div>
    <blockquote>
      If the service is free, then you are the product (or may your clients), for that, our service is
      not free
    </blockquote>
    <%= link_to('Learn More about security ', '/security ') %>

    <%= link_to('Learn More', '/open') %>
  </div>

</section>