<section class=" hero" id="principles">
  <div class="container">
    <article class=""><h1 class="title"> Why we do not track your users ? </h1></article>
    <div class="columns  is-desktop">
      <div class="column">
        <figure>
          <div class="icon-boxed">
            <%= render :partial => 'shared/icon', :locals => {:icon => 'icon-no-store'} %>
          </div>
          <figcaption><h3><%= t('welcome.how_we_make_money') %></h3>
            <p>We DO NOT gather any information from your costumer and our business model rely on our clients
              subscriptions. </p></figcaption>
        </figure>
      </div>
      <div class="column">
        <figure>
          <div class="icon-boxed">
            <%= render :partial => 'shared/icon', :locals => {:icon => 'icon-security'} %>
          </div>
          <figcaption><h3>No partnership</h3>
            <p>We DO NOT have any partnerships with organizations that may use your data or your customer's data.</p>
          </figcaption>
        </figure>
      </div>
      <div class="column">
        <figure>
          <div class="icon-boxed">
            <%= render :partial => 'shared/icon', :locals => {:icon => 'icon-security-important'} %>
          </div>
          <figcaption>
            <h3>Where's my Data ? </h3>
            <p>
              All data collected for analysis is stored in
              <a href="https://www.ovhcloud.com/en/about-us/infrastructure-software/">OVH</a> data centres, our cloud
              provider that guarantees data protection and reliability.
            </p>
          </figcaption>
        </figure>
      </div>
    </div>
    <div>

    </div>
    <blockquote>
      In the analytics business, if you're not paying for the service, you or your customer are the product.
    </blockquote>
    <%= link_to('Learn More about security ', '/security-and-data') %>

  </div>

</section>