<section class="hero is-relative" id="product">
  <div class="container">
    <h3 class="title">Product</h3>
    <div class="tabs is-centered">
      <ul>
        <li class="is-active"><a>Dashboard</a></li>
        <li><a>Heatmaps</a></li>
        <li><a>Instant notifications</a></li>
        <li><a>Custom reports </a></li>
        <li><a>Api </a></li>
        <li><a>Sandbox </a></li>
      </ul>
    </div>
    <div class="hero container">

      <section class="tab-content">
        <div class="block-image">
          <%= image_tag('features/undraw_charts_jj6t.svg') %>
        </div>
        <div class="block-feature">
          Get a complete, customized dashboard with clear insights about your site activities .
        </div>
      </section>
      <section class="tab-content">
        <div class="block-feature">
          Show where your users navigate, click. Get clear feedback of your users behaviour.
        </div>
        <div class="block-image">
          <%= image_tag('features/undraw_heatmap_uyye.svg') %>
        </div>
      </section>

      <section class="tab-content">
        <div class="block-feature">
          Define your rules and get instant notifications.
        </div>
        <div class="block-image">
          <%= image_tag('features/undraw_instant_information_6755.svg') %>
        </div>
      </section>

      <section class="tab-content">
        <div class="block-image">
          <%= image_tag('features/undraw_data_report_bi6l.svg') %>
        </div>
        <div class="block-feature">
          Customize your PDF reports with flexible charts, drag & drop templates and predefined reports .
        </div>
      </section>
      <section class="tab-content">
        <div class="block-image">
          <%= image_tag('features/undraw_hologram_fjwp.svg') %>
        </div>
        <div class="block-feature">
          Seamless integration with your system via api.
        </div>
      </section>
      <section class="tab-content">
        <div class="block-feature">
          Sandbox mode for testing before you go life.
        </div>
        <div class="block-image">
          <%= image_tag('features/undraw_work_in_progress_uhmv.svg') %>
        </div>
      </section>
    </div>
  </div>
</section>