<p id="notice"><%= notice %></p>

<h1><%= t('domain.api.create_new_api_key_for') %> <%= current_domain.name %>

</h1>

<%= render 'form', api_key: @api_key %>

<h1>Api Keys for  <%= current_domain.name %> </h1>

<table class="table is-fullwidth">
  <thead>
  <tr>
    <th><%= t('common.alias') %></th>
    <th><%= t('domain_apis.public_key') %></th>
    <th>  <%= render :partial => 'shared/icon', :locals => {:icon => 'icon-dots-horizontal'} %></th>
  </tr>
  </thead>

  <tbody>
  <% @api_keys.each do |api_key| %>
    <tr>
      <td><%= api_key.alias %></td>
      <td><%= api_key.public_key %></td>
      <!--<td><%= link_to 'Show', dashboard_domain_api_key_path(api_key.domain, api_key) %></td>-->
      <td>
        <%= link_to(dashboard_domain_api_key_path(api_key.domain, api_key), method: :delete, data: {confirm: 'Are you sure?'}, class: "is-flex is-align-items-center") do %>
          <%= t('common.destroy') %>
          <%= render :partial => 'shared/icon', :locals => {:icon => 'icon-trash'} %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tbody>
  </table>