<!DOCTYPE html>
<html>
<head>

  <title>
    <%= content_for?(:page_title) ? yield(:page_title) : default_page_title %>
  </title>

  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self'; script-src 'unsafe-eval' 'self' https://cdn.jsdelivr.net  ;">

  <% unless current_domain.nil? %>
    <meta name="app-domain" content="<%= current_domain.id %>">
  <% end %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <%= yield :custom_css_assets %>


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicon-16x16.png') %>">
  <link rel="manifest" href="<%= asset_path('site.webmanifest') %>">
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>
<body>
<div class="has-text-centered" style="color: red">
  Thank you for visiting our website, you are viewing a pre-alpha version of Unknown Analytics, the majority of our services are not yet working. Our beta service will be available on June 2020, please do not hesitate to
  <div>
    <%= link_to( public_pages_path(:page => 'contact')) do %>
      Contact us for any request
    <% end %>

  </div>

</div>
<% cache('includes/icons') do %>
  <%= render 'includes/icons' %>
<% end %>
<p class="notice"><%= notice %></p>
<p class="success"><%= flash[:success] %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<%= yield :custom_js_assets %>

</body>
</html>
