<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:page_title) ? yield(:page_title) : default_page_title %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <%= yield :custom_css_assets %>


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">

  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self'; script-src 'unsafe-eval' 'self' https://cdn.jsdelivr.net  ;">


  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<p class="notice">
  Disclaimer :<br/>
  - This version is for beta test purpose only.<br/>
  - This is an early beta release, please note some services are not yet implemented neither functional.<br/>
  - All services are free, the subscription module is not yet configured.<br/>
  - Emails module is not yet implemented. Some service may not works<br/>
  - All data, information may be lost or removed at any time without any further notice<br/>
</p>


<% cache('includes/icons') do %>
  <%= render 'includes/icons' %>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<%= yield :custom_js_assets %>

</body>
</html>
