<% content_for :custom_css_assets do %>
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>

<% end %>

<% content_for :custom_js_assets do %>
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
<% end %>

<style>
    body {
        display: flex;
        height: 100vh;²
        flex-direction: column;
    }

    #main_dashboard {
        width: 100%;
    }

    .h-100 {
        height: 100%;
    }
</style>
<%= extends :application do %>

  <%= render "shared/header_dashboard" %>

  <div class="container" id="main_dashboard">

    <% if current_user.own_domain(current_domain) %>
      <% if (current_domain.domain_setting.origins.nil? || current_domain.domain_setting.origins.empty?) && !current_page?(settings_dashboard_domain_path(current_domain)) %>
        <br/>
        <%= link_to(settings_dashboard_domain_path(current_domain)) do %>
          <div class="has-background-danger has-text-white pl-2 has-text-centered"> You should configure origins for
            this domain so we can collect pages data.
          </div>
        <% end %>
      <% end %>
      <% if current_domain.api_keys.length == 0 && !current_page?(dashboard_domain_api_keys_path(current_domain)) %>
        <br/>
        <%= link_to(dashboard_domain_api_keys_path(current_domain)) do %>
          <div class="has-background-danger has-text-white pl-2 has-text-centered">
            No api keys for current domain .
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="columns is-marginless">
      <aside class="column is-2">
        <%= render "shared/menu" %>
      </aside>
      <div class="column is-10">
        <div class="is-12 py-2 main-container is-flex-grow-1 is-flex is-flex-direction-column h-100">
          <% if current_domain.nil? && !(controller_path.split('/').first === 'dashboard' && controller_name == 'domains') %>
            <h1 class="title is-4">Select or create a new domain</h1>
            <div class="is-flex">
              <% if @my_domains.size > 0 %>
                <div class="pr-2">
                  <%= form_tag('/dashboard/set-current-domain') do %>
                    <div class="field is-grouped">
                      <div class="control select is-small">
                        <%= select_tag(:domain_id, options_from_collection_for_select(@my_domains, 'id', 'name', current_domain.nil? ? nil : current_domain.id), { include_blank: "#{t("domains.select_from_your_domains")} #{@my_domains.size} domains" }) %>
                      </div>
                      <div class="control">
                        <%= submit_tag t('Select', class: 'button is-link'), { :class => 'button default is-small' } %>
                      </div>
                      &nbsp; or &nbsp;
                    </div>
                  <% end -%>
                </div>
              <% end -%>
              <div class="">
                <%= link_to(dashboard_domains_path, { :class => 'is-light is-link is-small' }) do %>
                  <span><%= t('domain.create_new_domain') %></span>
                <% end %>
              </div>
            </div>
          <% end %>

          <%= yield %>

        </div>
        <% cache('dashboard/vue-templates/index') do %>
          <%= render 'dashboard/vue-templates/index' %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "shared/footer_logged_in" %>

  <!-- TODO, serve this from our cdn -->
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/underscore@1.9.1/underscore.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts@4/dist/echarts.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<% end %>
