<!DOCTYPE html>
<html>
<head>
  <title> <%= content_for?(:page_title) ? yield(:page_title) : default_page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="devise-container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= root_path %>">
          <%= render "shared/logo" %>
        </a>
      </div>
    </div>
  </nav>
  <div class="devise-content">
    <div class="devise-inner-content">
      <% if (alerted = alert) %>
        <p id="alert"><%= alerted %></p>
      <% end %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg %>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <% cache("welcome/home/footer") do %>
    <%= render "welcome/home/footer" %>
  <% end %>

</div>

</body>
</html>
